*{
    margin: 0;
    padding: 0;

}

.container{
    position: absolute;
    left: 20%;
    top: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;   
    padding: 50px;

    background-color: aliceblue;
    border-radius: 5%;
}

header{
    text-align: center;
    height: 80px;
}
nav{
    height: 70px;
}
hr{
    border: 1px solid blue;
    width: 100%;
}

section{
    height: 400px;
}

article{
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    width: 600px;
}

.datos{
    display: flex;
   
    width: 20%;
}

.datos1{
    display: flex;
    flex-direction: column;
}

.datos2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

label{    
    font-size: 10px;
    margin-top: 20px;
}

picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

img{
    margin-top: 10px;
    width: 200px;
    height: auto;
}

.info{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    width: 30%;
}

#text{
    margin-top: 30px;
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

footer{
    display: flex;
    margin-top: 10px;
}

h5{
    margin-right: 20px;
}
